<ion-view view-title="Processo Seletivo">
  <ion-content>
		<div class="card">
			<div class="item item-body">
				O Programa de Pós-Graduação em Tecnologias, Gestão e Sustentabilidade,
				para o ano letivo de {{ year }} (Turma {{ period }}), possui {{ vacancies }} vagas.

				<p>A Comissão de Seleção para o processo de ingresso no Programa será
					composta por, no mínimo 3 (três) professores efetivos e um suplente do Programa.
				</p>
				<a ng-href="{{ siteUrl }}">Leia mais</a>
			</div>
		</div>
  </ion-content>
</ion-view>
