.dark-menu {
	background-color: #3f4041 !important; /* This sets the background color*/
}

.dark-menu ion-item {
	color: white;
}

.center {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		display: block;
}

.subtitle {
		display: block;
		color: #999999;
		font-size: 14px;
}

.item {
		font-size: 18px !important;
}

.nested-list .icon {
		font-size: 16px !important;
}

.nested-list .separator {
		background-color: #bbbbbb;
		height: 1px;
}
