.dark-menu {
	background-color: #3f4041 !important; /* This sets the background color*/
}

.dark-menu ion-item {
	color: white;
}

.bottom-fixed {
	position: fixed;
	margin-left: -70px;
	bottom: 15px;
	left: 50%;
}

.research-line-title {
	font-size: 12pt;
	font-weight: bolder;
	text-align: center;
	line-height: 120%;
}
.card .item {
	color: black;
	text-align: justify;
	background: #0099FF;
}
