.dark-menu {
	background-color: #3f4041 !important; /* This sets the background color*/
}

.dark-menu ion-item {
	color: white;
}

.center {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	display: block;
}

.item {
	font-size: 18px !important;
}

.nested-list .icon {
	font-size: 16px !important;
}

.separator {
	background-color: #bbbbbb;
	height: 1px;
}

.card > .item-card-body {
	color: black;
	text-align: justify;
	background: #0099FF;
}

.card > .item-divider {
	padding-top: 0;
}

.list .item.item-accordion {
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
	line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
	display: block !important;
}

.item-body {
	color: black;
	text-align: justify;
}

.col {
	font-size: 12px;
	text-align:center;
	line-height:120%;
	border:thin gray solid;
}

.col-20 {
	font-size: 12px;
	text-align:center;
	border:thin gray solid;
}
